.btn {
    padding: 10px 15px;
    background-color: var(--secondary);
    color: var(--primary);
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    border: none;
    font-size: 1rem;
    transition: all 0.3s ease;
    line-height: 1.1;
}

.btn:hover {
    background-color: #58a47f;
    opacity: 1;
    cursor: pointer;
}

.btn:disabled {
    pointer-events: none;
    opacity: 0.5;
}

input:focus {
    outline: none;
}

li,
a,
button {
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 10%;
    background-color: #4e8397;
}

nav ul {
    margin-left: 90px;
}

nav ul li {
    display: inline-block;
    padding: 20px;
}

nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    color: #b39cd0;
    font-size: 15px;
    font-weight: bold;
    transition: all 0.4s ease 0s;
}

nav ul li a:hover {
    color: #fff;
    transform: scale(1.5);
}

button {
    font-family: "Source Sans Pro", sans-serif;
    padding: 9px 20px;
    border-radius: 20px;
    border: none;
    background-color: #fbeaff;
    cursor: pointer;
    transition: all 0.4s ease 0s;
}

button:hover {
    background-color: rgba(22, 136, 169, 0.8);
}

.cta {
    float: left;
}

.logo {
    margin: 20px;
}

ul li .navlinks {
    font-size: 18rem;
}