@import url('https://fonts.googleapis.com/css2?family=Spline+Sans+Mono:wght@300;500;700&display=swap');
.container-landing {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120vh;
    flex-direction: column;
    background-image: url("../images/andy-li-cBSjnLuZaws-unsplash.jpg");
    background-size: cover;
    color: rgb(220, 209, 209);
    font-family: 'Spline Sans Mono', monospace;
    padding-top: 0;
}

.landing-section {
    width: 50vw;
    text-align: center;
    margin: 0;
}

.bold {
    font-weight: 700;
    font-size: 6rem;
}