.container-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.516);
    background-image: url("../images/andy-li-cBSjnLuZaws-unsplash.jpg");
    background-size: cover;
    color: rgb(220, 209, 209);
    font-family: 'Spline Sans Mono', monospace;
    padding-top: 0;
    height: 100%;
}

.item-profile {
    margin: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.profile-title {
    padding: 20px;
    top: 30%;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.714);
    width: 50%;
}

.card-container-text {
    text-align: center;
    padding: 20px;
}

button:hover {
    color: gray;
}