 .img-item {
     size: 100%;
     margin: 0;
     padding: 0;
 }
 /*
.body-search {
    height: 150vh;
} */
 
 .container-searchroom {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     background-color: rgba(255, 255, 255, 0.899);
     border-radius: 20px;
     background-size: cover;
     color: rgb(209, 217, 220);
     font-family: 'Spline Sans Mono', monospace;
     padding-top: 0;
 }
 
 .item-profile {
     margin: 40px;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
 }
 /*  
 .profile-title {
     padding: 20px;
 } */
 
 .card-container {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     background-color: rgba(0, 0, 0, 0.714);
     /* width: 50%; */
     margin: 20px;
     padding: 10px;
     border-radius: 20px;
 }
 
 .card-container-text {
     text-align: center;
     padding: 20px;
 }
 
 button:hover {
     color: gray;
 }
 
 .card-title {
     font-weight: bold;
 }
 
 .card-text {
     font-size: 0.6rem;
 }
 
 @media screen and (mmin-width: 600px) {
     .container-searchroom {
         width: 100vw;
     }
 }