.search {
    padding: 10px;
    font-size: 20px;
    margin: 30px;
}

.add {
    margin: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100vw;
    background-image: url("../images/marjan-blan-marjanblan-7xmSu_vWfnc-unsplash.jpg");
    background-size: cover;
}

.add-section {
    /* background: rgba(55, 54, 54, 0.584); */
    margin: 50px;
    width: 50%;
}

@media screen and (max-width: 600px) {
    .add-item {
        width: 100vw;
    }
    .add-section {
        width: 100vw;
    }
}

.add-text {
    margin-left: 30px;
    margin-top: 30px;
}

.add-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.797);
    margin-bottom: 10px;
    color: black;
    border-radius: 20px;
    width: 100%;
}